<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body ng-app='controller'>
<div>To Do List
	<div class='ToDo-Input'>
	<input type="text" placeholder= "Type in New 'To-Do'" ng-model= ng-controller="controller"></input>
	<input type="date"></input>
	<button ng-click="" ng-controller="controller">Check Off List?</button>
	</div>
</div>
</body>
<script src="angular.min.js"></script>
<script src="app.js"></script>
<script src="controller.js"></script>
<script src="service.js"></script>
</html>